body{
    font-family: 'Helvetica', sans-serif;
}

.event-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #effe;
}
.event{
    width: 75%;
    display: block;
    justify-content: space-between;
}
.birthdaycake-img{
    float: right;
}
.birthdaycake-img img{
    width: 500px;
    height: 500px;
}

.event-title{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    color: #240D57;
}

.event-host{
    margin-top: 5px;
    font-style: normal;
    font-size: 18px;
    color: #828282;
}
.event-host span{
    font-weight: bold;
}

.row{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}

.row .icon{
    margin-left: 0.5rem;
    width: 56px;
    height: 56px;
    margin-bottom: 10px;
}

.row .text-event {
    margin-left: 1.5rem;
    width: fit-content;
    
}
.title{
    color: #240D57;
    font-size: 18px;
    font-weight: 700;
}
.row .text-event p{
    margin-bottom: -5px;
    margin-top: -15px;
    color: #4F4F4F;
}
.row .text-event {
    margin-bottom: -5px;
    margin-top: -15px;
    color: #4F4F4F;
}
.date-evidence{
    color: #4F4F4F;
    font-size: 18px; 
}
.address{
    color: #4F4F4F;
    font-size: 18px;
    font-weight: 400;
}



.title input::placeholder{
    color: #240D57;;
}

input{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}